<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script src='https://unpkg.com/mapbox@1.0.0-beta7/dist/mapbox-sdk.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

<style>
 
.marker {
	background-image: url('https://dazedimg-dazedgroup.netdna-ssl.com/786/azure/dazed-prod/1220/4/1224826.jpg');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}
 
.info {
  position: absolute;
  top: 100px;
  left: 10px;
}
.info div {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}

</style>

<!-- Map -->
<div id='map' style='width: 100%; height: 100%; position: absolute; top: 0; left: 0;'></div>

<!-- Modal to be populated on click -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 id="marker_title" class=""></h2>
        <img id="marker_image" class="" src="" />
        <p id="marker_latlng" class=""></p>
        <address id="marker_address" class=""></address>
        <p id="marker_content" class=""></p>
      </div>
    </div>
  </div>
</div>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY2Vld2FpIiwiYSI6ImNqbng3eDcyZDByeXgzcHBnY2w0cGloM2sifQ.NsvAT34SplBxuUvZsvUSKA';

var mapboxClient = new MapboxClient(mapboxgl.accessToken);

var map = new mapboxgl.Map({
	container: 'map',
	style: 'mapbox://styles/mapbox/light-v9',
	center: [103.82764112, 1.369883],
	zoom: 12.0,
});

map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
}));

// Add geolocate control to the map.
map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}));

setTimeout(function() {
    $(".mapboxgl-ctrl-geolocate").click();
},2500);


      // Create a GeoJSON source with an empty lineString.
      var geojson = {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "LineString",
            "coordinates": []
          }
        }]
      };

    var startPoint = [103.81654, 1.3209084];
	  var endPoint;
    navigator.geolocation.getCurrentPosition(position => {
      var userLat = position.coords.latitude;
      var userLng = position.coords.longitude;
      endPoint = [userLng, userLat];
      console.log(endPoint);
    });

      var framesPerSecond = 20;
      var initialOpacity = 1
      var opacity = initialOpacity;
      var initialRadius = 4;
      var radius = initialRadius;
      var maxRadius = 15;

      var speedFactor = 100 // number of frames per longitude degree
      var animation; // to store and cancel the animation


// The 'building' layer in the mapbox-streets vector source contains building-height
// data from OpenStreetMap.
map.on('load', function() {
      // create the popup
      /*
      var popup = new mapboxgl.Popup({ offset: 25 })
        .setText('Placeholder');
      
      // create DOM element for the marker
      var el = document.createElement('div');
      el.id = 'marker';
      */
  // create DOM element for the marker
      var el = document.createElement('div');
      el.className = 'marker';
      var popup = new mapboxgl.Popup({ offset: 25 })
        .setText('Placeholder');

  {{#if user}}
    {{#each goods}}

      var queryCoords = [];
      var markers = 0;
      mapboxClient.geocodeForward("{{location}}", { limit: 1 }, function(err, res) {
          var el = document.createElement('div');
          el.className = 'marker';
          el.style.backgroundImage = 'url({{images}})';

          queryCoords = res.features[0].geometry.coordinates;

          console.log(queryCoords[0],queryCoords[1]);
          // create the marker
      
          markers = new mapboxgl.Marker(el)
            .setLngLat([queryCoords[0], queryCoords[1]])
            .setPopup(new mapboxgl.Popup({offset: 25}) // sets a popup on this marker
              	.setHTML('<h3>' + "{{name}}" + '</h3><p>' + '{{description}}' + '</p>' + '<a href="">' + 'Track' + '</a>'))
            .addTo(map);

            markers.className = 'marker';

              markers.on('mouseover', function(e) {
                // Force close the popup.
                e.layer.closePopup();

                var feature = e.layer.feature;
                var title = feature.properties.title;
                var content = feature.properties.description;
                var latlng = feature.geometry.coordinates;

                // Modal Content
                $("#marker_title").text(title);
                $("#marker_content").text(content);
                $("#marker_latlng").text(formatLatLng(latlng));

                $('#exampleModal').modal('show');
              });

              var origin{{id}} = [queryCoords[0], queryCoords[1]];
              
              mapboxClient.geocodeForward("{{destination}}", { limit: 1 }, function(err, res) {
                  var destCoords = res.features[0].geometry.coordinates;
                  console.log('Destination is ', destCoords, " at " + '{{destination}}');
                  var destination{{id}} = [destCoords[0], destCoords[1]];
              
                  map.addLayer({
                  "id": "destPlace{{id}}",
                  "type": "symbol",
                  "source": {
                    "type": "geojson",
                    "data": {
                      "type": "FeatureCollection",
                      "features": [{
                        "type": "Feature",
                        "properties": {
                          "description": "<strong>Destination</strong><p>{{destination}}</p>",
                          "icon": "theatre"
                        },
                        "geometry": {
                          "type": "Point",
                          "coordinates": [destCoords[0], destCoords[1]]
                        }
                      }]
                    }
                  },
                  "layout": {
                    "icon-image": "embassy-15",
                    "icon-allow-overlap": true
                  }
                });

                  // Add a layer showing the places.
                  // Create a popup, but don't add it to the map yet.
                  let popupDest = new mapboxgl.Popup({
                    closeButton: false,
                    closeOnClick: false
                  });
                  
                  map.on('mouseenter', 'destPlace{{id}}', function(e) {
                    // Change the cursor style as a UI indicator.
                    map.getCanvas().style.cursor = 'pointer';
                    
                    var coordinates = e.features[0].geometry.coordinates.slice();
                    var description = e.features[0].properties.description;
                    
                    // Ensure that if the map is zoomed out such that multiple
                    // copies of the feature are visible, the popup appears
                    // over the copy being pointed to.
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                      coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }
                    
                    // Populate the popup and set its coordinates
                    // based on the feature found.
                    popupDest.setLngLat(coordinates)
                      .setHTML(description)
                      .addTo(map);
                    });
                  
                    map.on('mouseleave', 'destPlace{{id}}', function() {
                      map.getCanvas().style.cursor = '';
                      popupDest.remove();
                    });  
                

                  // A simple line from origin to destination.
                  var route{{id}} = {
                    "type": "FeatureCollection",
                    "features": [{
                      "type": "Feature",
                      "geometry": {
                        "type": "LineString",
                        "coordinates": [
                          origin{{id}},
                          destination{{id}}
                        ]
                      }
                    }]
                  };
                  
                  // A single point that animates along the route.
                  // Coordinates are initially set to origin.
                  var point{{id}} = {
                    "type": "FeatureCollection",
                    "features": [{
                      "type": "Feature",
                      "properties": {},
                      "geometry": {
                        "type": "Point",
                        "coordinates": origin{{id}}
                      }
                    }]
                  };
                  
                  // Calculate the distance in kilometers between route start/end point.
                  var lineDistance = turf.lineDistance(route{{id}}.features[0], 'kilometers');
                  
                  var arc = [];
                  
                  // Number of steps to use in the arc and animation, more steps means
                  // a smoother arc and animation, but too many steps will result in a
                  // low frame rate
                  var steps = 5000;
                  
                  // Draw an arc between the `origin` & `destination` of the two points
                  for (var i = 0; i < lineDistance; i += lineDistance / steps) {
                    var segment = turf.along(route{{id}}.features[0], i, 'kilometers');
                    arc.push(segment.geometry.coordinates);
                  }
                  
                  // Update the route with calculated arc coordinates
                  route{{id}}.features[0].geometry.coordinates = arc;
                  
                  // Used to increment the value of the point measurement against the route.
                  var counter = 0;
                  
                    // Add a source and layer displaying a point which will be animated in a circle.
                    map.addSource('route{{id}}', {
                      "type": "geojson",
                      "data": route{{id}}
                    });
                    
                    // Around this area is whr the error occurs
                    map.addSource('point{{id}}', {
                      "type": "geojson",
                      "data": point{{id}}
                    });
                    
                      map.addLayer({
                        "id": "route{{id}}",
                        "source": "route{{id}}",
                        "type": "line",
                        "paint": {
                          "line-width": 2,
                          "line-color": "#007cbf"
                        }
                      });
                      
                      map.addLayer({
                        "id": "point{{id}}",
                        "source": "point{{id}}",
                        "type": "symbol",
                        "layout": {
                          "icon-image": "airport-15",
                          "icon-rotate": ["get", "bearing"],
                          "icon-rotation-alignment": "map",
                          "icon-allow-overlap": true,
                          "icon-ignore-placement": true
                        }
                      });
                    
                    function animate() {
                      // Update point geometry to a new position based on counter denoting
                      // the index to access the arc.
                      point{{id}}.features[0].geometry.coordinates = route{{id}}.features[0].geometry.coordinates[counter];
                        
                      // Calculate the bearing to ensure the icon is rotated to match the route arc
                      // The bearing is calculate between the current point and the next point, except
                      // at the end of the arc use the previous point and the current point
                      try {
                        point{{id}}.features[0].properties.bearing = turf.bearing(
                        turf.point(route{{id}}.features[0].geometry.coordinates[counter >= steps ? counter - 1 : counter]),
                        turf.point(route{{id}}.features[0].geometry.coordinates[counter >= steps ? counter : counter + 1])
                        );
                      } catch {
                        console.log(route{{id}}.features[0].geometry.coordinates[counter >= steps ? counter - 0.5 : counter]);
                        console.log(route{{id}}.features[0].geometry.coordinates[counter >= steps ? counter : counter + 0.5]);
                      }
                      
                      // Update the source with this new data.
                      map.getSource('point{{id}}').setData(point{{id}});
                        // Request the next frame of animation so long the end has not been reached.
                        if (counter < steps) {
                          requestAnimationFrame(animate);
                        } else {
                          // Set the coordinates of the original point back to origin
                          point{{id}}.features[0].geometry.coordinates = origin{{id}};
                          // Update the source layer
                          map.getSource('point{{id}}').setData(point{{id}});
                          // Reset the counter
                          counter = 0;
                          // Restart the animation.
                          animate(counter);
                        }
                        counter = counter + 1;
                    }

                    // Start the animation.
                      animate(counter);
              });
            
            
      });
  {{/each}}
  {{#each service}}
    mapboxClient.geocodeForward("{{location}}", { limit: 1 }, function(err, res) {
          var el = document.createElement('div');
          el.className = 'marker';
          el.style.backgroundImage = 'url({{images}})';

          queryCoords = res.features[0].geometry.coordinates;

          console.log(queryCoords[0],queryCoords[1]);
          // create the marker
      
          markers = new mapboxgl.Marker(el)
            .setLngLat([queryCoords[0], queryCoords[1]])
            .setPopup(new mapboxgl.Popup({offset: 25}) // sets a popup on this marker
              	.setHTML('<h3>' + "{{name}}" + '</h3><p>' + '{{description}}' + '</p>' + '<a href="">' + 'Track' + '</a>'))
            .addTo(map);

            markers.className = 'marker';

              markers.on('mouseover', function(e) {
                // Force close the popup.
                e.layer.closePopup();

                var feature = e.layer.feature;
                var title = feature.properties.title;
                var content = feature.properties.description;
                var latlng = feature.geometry.coordinates;

                // Modal Content
                $("#marker_title").text(title);
                $("#marker_content").text(content);
                $("#marker_latlng").text(formatLatLng(latlng));

                $('#exampleModal').modal('show');
              });
    });
  {{/each}}
{{/if}}


	var layers = map.getStyle().layers;
	
	var labelLayerId;
		for (var i = 0; i < layers.length; i++) {
			if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
				labelLayerId = layers[i].id;
				break;
		}
	}
	
	map.addLayer({
		'id': '3d-buildings',
		'source': 'composite',
		'source-layer': 'building',
		'filter': ['==', 'extrude', 'true'],
		'type': 'fill-extrusion',
		'minzoom': 15,
		'paint': {
			'fill-extrusion-color': '#aaa',
		
			// use an 'interpolate' expression to add a smooth transition effect to the
			// buildings as the user zooms in
			'fill-extrusion-height': [
				"interpolate", ["linear"],
				["zoom"],
				15, 0,
				15.05, ["get", "height"]
			],
			'fill-extrusion-base': [
				"interpolate", ["linear"],
				["zoom"],
				15, 0,
				15.05, ["get", "min_height"]
			],
			'fill-extrusion-opacity': .6
		}
	}, labelLayerId);


/*
// ONE POINT ANIMATION ONLY //
        // Point 1
        map.addSource('point1', {
          "type": "geojson",
          "data": {
            "type": "Point",
            "coordinates": [
              startPoint[0], startPoint[1]
            ]
          }
        });
        map.addLayer({
          "id": "circle1",
          "source":"point1" ,
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {
              duration: 0
            },
            "circle-opacity-transition": {
              duration: 0
            },
            "circle-color": "#007cbf"
          }
        });
        map.addLayer({
          "id": "point1",
          "source": "point1",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
          }
        });

        // Point 2
        map.addSource('point2', {
          "type": "geojson",
          "data": {
            "type": "Point",
            "coordinates": [
              endPoint[0], endPoint[1]
            ]
          }
        });
        map.addLayer({
          "id": "circle2",
          "source": "point2",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {
              duration: 0
            },
            "circle-opacity-transition": {
              duration: 0
            },
            "circle-color": "#007cbf"
          }
        });
        map.addLayer({
          "id": "point2",
          "source": "point2",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
          }
        });

        //Line
        map.addLayer({
          'id': 'line-animation',
          'type': 'line',
          'source': {
            'type': 'geojson',
            'data': geojson
          },
          'layout': {
            'line-cap': 'round',
            'line-join': 'round'
          },
          'paint': {
            'line-color': '#FA8072',
            'line-width': 2
          }
        });

        var diffX = endPoint[0] - startPoint[0];
        var diffY = endPoint[1] - startPoint[1];

        var sfX = diffX / speedFactor;
        var sfY = diffY / speedFactor;

        var i = 0;
        var j = 0;

        var lineCoordinates = [];

        while (i < diffX || Math.abs(j) < Math.abs(diffY)) {
          lineCoordinates.push([startPoint[0] + i, startPoint[1] + j]);

          if (i < diffX) {
            i += sfX;
          } 

          if (Math.abs(j) < Math.abs(diffY)) {
            j += sfY;
          }
        }

        //console.log(lineCoordinates);

        var animationCounter = 0;

        function animateLine() {
			//console.log('animate');
          if (animationCounter < lineCoordinates.length) {
            geojson.features[0].geometry.coordinates.push(lineCoordinates[animationCounter]);
            map.getSource('line-animation').setData(geojson);

            requestAnimationFrame(animateLine);
            animationCounter++;
          } else {
            var coord = geojson.features[0].geometry.coordinates;
            coord.shift();

            if (coord.length > 0) {
              geojson.features[0].geometry.coordinates = coord;
              map.getSource('line-animation').setData(geojson);

              //-------------- Point2 Animation End ---------------
              requestAnimationFrame(animateLine);
            }
          }
        }

			setInterval(() => {
				var diffX = endPoint[0] - startPoint[0];
				var diffY = endPoint[1] - startPoint[1];

				var sfX = diffX / speedFactor;
				var sfY = diffY / speedFactor;

				var i = 0;
				var j = 0;

				var lineCoordinates = [];

				while (i < diffX || Math.abs(j) < Math.abs(diffY)) {
				  lineCoordinates.push([startPoint[0] + i, startPoint[1] + j]);

          if (i < diffX) {
            i += sfX;
          }

          if (Math.abs(j) < Math.abs(diffY)) {
            j += sfY;
          }
				}

				//console.log(lineCoordinates);

				var animationCounter = 0;

				function animateLine() {
					//console.log('animate');
				if (animationCounter < lineCoordinates.length) {
					geojson.features[0].geometry.coordinates.push(lineCoordinates[animationCounter]);
					map.getSource('line-animation').setData(geojson);

					requestAnimationFrame(animateLine);
					animationCounter++;
				} else {
					var coord = geojson.features[0].geometry.coordinates;
					coord.shift();

					if (coord.length > 0) {
					geojson.features[0].geometry.coordinates = coord;
					map.getSource('line-animation').setData(geojson);

					//-------------- Point2 Animation End ---------------
					requestAnimationFrame(animateLine);
					}
				}
				}

				animateLine();
			}, 6000);
*/

		//animateLine();

		//setInterval(function(){ animateLine(); }, 3000);


});

// ============ WIP Modal Popup ============ \\

/*
// Add Feature Layer to map
map.addSource('single-point', {
  type: 'geojson', // specify the kind of data being added
  data: {
    type: 'FeatureCollection',
    features: [],
    'data': {geoJson},
  }
});

map.addLayer({
  id: 'point', // the layer's ID
  source: 'single-point',
  type: 'circle', // the layer type
  paint: {
    'circle-radius': 10,
    'circle-color': '#007cbf'
  }
});

// Initialize geoJson Data
var geoJson = [{
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [103.22764112, 1.379883]
  },
  properties: {
    title: 'Benton-Houston Ferry',
    address: '1234 Fake Street, Somewhere, TN 38888',
    image: '/img/profiledefault.png',
    description: 'Some Random text',
    'water': true,
    'outdoor': true,
    'civil': false,
    'wildlife': true,
    'heritage': false,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.047624, 35.969574]
  },
  properties: {
    title: 'Birdsong Resort, Marina, and Campground',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': false,
    'civil': false,
    'wildlife': true,
    'heritage': true,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-87.97416, 36.08868]
  },
  properties: {
    title: 'Nathan Bedford Forrest State Park',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': true,
    'civil': true,
    'wildlife': true,
    'heritage': false,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-87.997892, 36.060605]
  },
  properties: {
    title: 'Nathan Bedford Forrest State Park, Eva Beach Day Use Area',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': false,
    'civil': false,
    'wildlife': true,
    'heritage': true,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.040368, 35.612822]
  },
  properties: {
    title: 'Beech Bend Campground',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': false,
    'civil': false,
    'wildlife': false,
    'heritage': false,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.240664, 35.052063]
  },
  properties: {
    title: 'Pickwick Landing State Park',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': false,
    'civil': true,
    'wildlife': true,
    'heritage': false,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.193049, 35.070611]
  },
  properties: {
    title: 'Pickwick Landing State Park, Bruton Branch Recreation Area Campground',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': true,
    'civil': false,
    'wildlife': true,
    'heritage': true,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.23479300000001, 35.052419]
  },
  properties: {
    title: 'Pickwick Landing State Park Marina',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': true,
    'civil': false,
    'wildlife': false,
    'heritage': false,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.20159, 35.354458]
  },
  properties: {
    title: 'Saltillo Landing and Marina',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': false,
    'civil': false,
    'wildlife': true,
    'heritage': false,
    'marker-color': '#94a748'
  }
}, {
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [-88.293174, 35.355906]
  },
  properties: {
    title: 'White Oak Wildlife Management Area',
    address: '1234 Fake Street, Somewhere, TN 38888',
    description: 'Some Random text',
    'water': true,
    'outdoor': false,
    'civil': false,
    'wildlife': true,
    'heritage': false,
    'marker-color': '#94a748'
  }
}];

markers.setGeoJSON(geoJson);
*/

// Filter click event
$('.menu-ui a').on('click', function() {
  var filter = $(this).data('filter');
  $(this).addClass('active').siblings().removeClass('active');
  markers.setFilter(function(f) {
    return (filter === 'all') ? true : f.properties[filter] === true;
  });
  return false;
});

// Clear Modal Data
function empty() {
  // TODO: Clear Modal when Modal is closed for next marker clicked
}

// Formats Latitude and Longitude for Modal
function formatLatLng(latlng) {
  // TODO: Format Latitude and Longitude
  return latlng;
}


/*
    map.on('load', function() {

        // Point 1
        map.addSource('point1', {
          "type": "geojson",
          "data": {
            "type": "Point",
            "coordinates": [
              startPoint[0], startPoint[1]
            ]
          }
        });
        map.addLayer({
          "id": "circle1",
          "source": "point1",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {
              duration: 0
            },
            "circle-opacity-transition": {
              duration: 0
            },
            "circle-color": "#007cbf"
          }
        });
        map.addLayer({
          "id": "point1",
          "source": "point1",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
          }
        });

        // Point 2
        map.addSource('point2', {
          "type": "geojson",
          "data": {
            "type": "Point",
            "coordinates": [
              endPoint[0], endPoint[1]
            ]
          }
        });
        map.addLayer({
          "id": "circle2",
          "source": "point2",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {
              duration: 0
            },
            "circle-opacity-transition": {
              duration: 0
            },
            "circle-color": "#007cbf"
          }
        });
        map.addLayer({
          "id": "point2",
          "source": "point2",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
          }
        });

        //Line
        map.addLayer({
          'id': 'line-animation',
          'type': 'line',
          'source': {
            'type': 'geojson',
            'data': geojson
          },
          'layout': {
            'line-cap': 'round',
            'line-join': 'round'
          },
          'paint': {
            'line-color': 'red',
            'line-width': 2
          }
        });

        var diffX = endPoint[0] - startPoint[0];
        var diffY = endPoint[1] - startPoint[1];

        var sfX = diffX / speedFactor;
        var sfY = diffY / speedFactor;

        var i = 0;
        var j = 0;

        var lineCoordinates = [];

        while (i < diffX || Math.abs(j) < Math.abs(diffY)) {
          lineCoordinates.push([startPoint[0] + i, startPoint[1] + j]);

          if (i < diffX) {
            i += sfX;
          }

          if (Math.abs(j) < Math.abs(diffY)) {
            j += sfY;
          }
        }

        //console.log(lineCoordinates);

        var animationCounter = 0;

        function animateLine() {
			console.log('animate');
          if (animationCounter < lineCoordinates.length) {
            geojson.features[0].geometry.coordinates.push(lineCoordinates[animationCounter]);
            map.getSource('line-animation').setData(geojson);

            requestAnimationFrame(animateLine);
            animationCounter++;
          } else {
            var coord = geojson.features[0].geometry.coordinates;
            coord.shift();

            if (coord.length > 0) {
              geojson.features[0].geometry.coordinates = coord;
              map.getSource('line-animation').setData(geojson);

              //-------------- Point2 Animation End ---------------
              requestAnimationFrame(animateLine);
            }
          }
			setInterval(function(){ animateLine(); }, 3000);
        }

		animateLine();

		//setInterval(function(){ animateLine(); }, 3000);

      });
*/

</script>
