<link rel="stylesheet" href="css/dashboard.css">
  <!-- Compiled and minified CSS -->
<div class="row">
  <div id="content" class="col s10 offset-s2">

    <div class="row">
      <div id="content_nav" class="col s12">
        <div class="nav_header right">
        </div>
      </div>
    </div>

    <div class="row">
        <div id="profile" class="col s4">
          <a class="action" href="/showEditProfile/{{user.id}}" style="position: absolute;">Edit Profile</a>
          <div class="profile_header">
            <img src="{{user.photoURL}}" alt="profile_picture" />
            <h2>{{user.name}}</h2>
            {{#if user.is_org}}
              <p>Organization</p>
            {{else}}
              <p>{{checkUserType user.user_type}}</p>
            {{/if}}
            {{#if user.is_org}}
              <ul style="list-style: none;">
                <li>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star star-disabled"></i>
                </li>
                <li>
                  <p class="stats"><i class="fa fa-fire"></i> 128</p>
                </li>
              </ul>
            {{/if}}
          </div>
          <div class="divider"></div>
          
          <div class="profile_information">
            <h3 style="margin-top: 5px;" >Personal Information</h3>
            <ul style="list-style: none;">
              <li>
                <h4>Email Address:</h4>
                <p>{{user.email}}</p>
              </li>
              <li>
                <h4>Gender:</h4>
                <p>{{user.gender}}</p>
              </li>
              <li>
                <h4>Phone Number:</h4>
                <p>{{user.phoneNo}}</p>
              </li>
              <li>
                <h4>Date of birth:</h4>
                <p>{{user.dob}}</p>
              </li>
              <li>
                <h4>Address:</h4>
                <p>{{user.address}}, {{user.unitNo}}, {{user.postalCode}}</p>
              </li>
            </ul>
          </div>
          
          <div class="divider"></div>
          {{#if user.is_org}}
            <div class="profile_custom">
              <h3 style="margin-top: 5px;">Organization Information</h3>
              <ul>
                <li>
                  <h4>Organization Name:</h4>
                  <p>{{user.org_name}}</p>
                </li>
                <li>
                  <h4>Website:</h4>
                  <p>{{user.org_website}}</p>
                </li>
                <li>
                  <h4>Organization Phone Number:</h4>
                  <p>{{user.org_phone}}</p>
                </li>
                <li>
                  <h4>Organization Location:</h4>
                  <p>{{user.org_location}}</p>
                </li>
                <li>
                  <h4>Organization Size:</h4>
                  {{#ifEqual user.org_size "individual"}}
                    <p>Individual</p>
                  {{/ifEqual}}
                  {{#ifEqual user.org_size "sme"}}
                    <p>Small Medium Enterprise</p>
                  {{/ifEqual}}
                  {{#ifEqual user.org_size "mnc"}}
                    <p>Multinational Corporation</p>
                  {{/ifEqual}}
                </li>
              </ul>
            </div>
        {{/if}}
        </div>
        <div id="profile_content" class="col s8">
          <nav id="dashboardNav">
            <ul>
              <li class="tab">
                <a href="/showDashboard">
                  Orders
                </a>
              </li>
              <li class="tab">
                <a href="/showDashboardService" class="active">
                  Service
                </a>
              </li>
              <li class="tab">
                <a href="/showDashboardWishlist">
                  Wishlist
                </a>
              </li>
              <li class="tab">
                <a href="/showDashboardWallet">
                  Wallet
                </a>
              </li>
            </ul>
            
            <div class="nav_arrows">
        </div>
            
          </nav>
          
          <div class="profile-content">
          {{#if product}}
            {{#each product}}
              <div class="row">
                <div class='product-card'>
                  <div class="product-image">
                    <img src="{{images}}" />
                  </div>
                  <div class="inner">
                    <h2 class="title">{{name}}</h2>
                    <h2 id="product_price">${{cost}}</h2>
                    <p>{{status}}</p>
                    <dl>
                      <dt>Product Highlights</dt>
                      <dd>{{description}}</dd>
                    </dl>
                  </div>
                  <ul class="actions clear">
                    <li>
                      <a style="color: white;" href="/" class="product_anchor">product details</a>
                    </li>
                    <li>
                      <a style="color: white;" href="/" class="product_anchor">Visit Shop</a>
                    </li>
                  </ul>
                </div>
              </div>
            {{/each}}
            
            {{else}}

            <div class="row" style="text-align: center; font-size:60px;">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <i class="fas fa-concierge-bell"></i>
                <p style="font-size:20px;">Join a Service!</p>
              </div>
            </div>


          {{/if}}
            
          </div>
          
        </div>
    </div><!-- .row profile -->

  </div><!-- .s9 content -->
    
</div><!-- .row -->
