<link rel="stylesheet" href="css/dashboard.css">
  <!-- Compiled and minified CSS -->
<div class="row">
  <div id="content" class="col s10 offset-s2">

    <div class="row">
      <div id="content_nav" class="col s12">
        <div class="nav_header right">
        </div>
      </div>
    </div>

    <div class="row">
        <div id="profile" class="col s4">
          <a class="action" href="/showEditProfile/{{user.id}}" style="position: absolute;">Edit Profile</a>
          <div class="profile_header">
            <img src="{{user.photoURL}}" alt="profile_picture" />
            <h2>{{user.name}}</h2>
            <p>{{checkUserType user.user_type}}</p>
            {{#ifEqual user.user_type "Organization"}}
              <ul style="list-style: none;">
                <li>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star star-disabled"></i>
                </li>
                <li>
                  <p class="stats"><i class="fa fa-fire"></i> 128</p>
                </li>
              </ul>
            {{/ifEqual}}
          </div>
          <div class="divider"></div>
          
          <div class="profile_information">
            <h3 style="margin-top: 5px;" >Contact Information</h3>
            <ul style="list-style: none;">
              <li>
                <h4>Email Address:</h4>
                <p>{{user.email}}</p>
              </li>
              <li>
                <h4>Gender:</h4>
                <p>{{user.gender}}</p>
              </li>
              <li>
                <h4>Phone Number:</h4>
                <p>{{user.phoneNo}}</p>
              </li>
              <li>
                <h4>Date of birth:</h4>
                <p>{{user.dob}}</p>
              </li>
              <li>
                <h4>Address:</h4>
                <p>{{user.address}}, {{user.unitNo}}, {{user.postalCode}}</p>
              </li>
            </ul>
          </div>
          
          <div class="divider"></div>
          {{#ifEqual user.user_type "Organization"}}
            <div class="profile_custom">
              <h3 style="margin-top: 5px;">Organization Information</h3>
              <ul>
                <li>
                  <h4>Website:</h4>
                  <p>ORGANIZATIONWEBSITE.COM</p>
                </li>
                <li>
                  <h4>Website Phone Number:</h4>
                  <p>1800-LMAO-FAM-NOT-DONE-WITH-ORGANIZATION-PROFILE-YET</p>
                </li>
              </ul>
            </div>
        {{/ifEqual}}
        </div>
        <div id="profile_content" class="col s8">
          <nav id="dashboardNav">
            <ul>
              <li class="tab">
                <a href="#" class="active">
                  Orders
                </a>
              </li>
              <li class="tab">
                <a href="#Notes" class="">
                  Notes
                </a>
              </li>
              <li class="tab">
                <a href="#events">
                  Events
                </a>
              </li>
            </ul>
            
            <div class="nav_arrows">
        </div>
            
          </nav>
          
          <div class="profile-content">
            <div class="row">
              <div class='product-card'>
                <div class="product-image">
                  <img src="https://cdn.gearpatrol.com/wp-content/uploads/2018/07/Herschel-Supply-Co-Pop-Quiz-gear-patrol-full-lead.jpg" />
                </div>
                <div class="inner">
                  <h2 class="title">Herschel Pop Quiz Bag</h2>
                  <h2 id="product_price">$79.00</h2>
                  <p>DELIVERED</p>
                  <dl>
                    <dt>Product Highlights</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                    <dd>Nam quis eros leo. Donec pharetra fermentum tellus eu semper.</dd>
                  </dl>
                </div>
                <ul class="actions clear">
                  <li>
                    <a class="product_anchor">product details</a>
                  </li>
                  <li>
                    <a class="product_anchor">Visit Shop</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class='product-card'>
                <div class="product-image">
                  <img src="https://d4kkpd69xt9l7.cloudfront.net/sys-master/root/h84/h9a/8924595060766/razer-blackwidow-chroma-te-chroma-v2-quartz-gallery-02.jpg" />
                </div>
                <div class="inner">
                  <h2 class="title">Razer Blackwidow Chroma Tournament Edition [Quartz Pink]</h2>
                  <h2 id="product_price">$69.00</h2>
                  <p>DELIVERED</p>
                  <dl>
                    <dt>Product Highlights</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                    <dd>Nam quis eros leo. Donec pharetra fermentum tellus eu semper.</dd>
                  </dl>
                </div>
                <ul class="actions clear">
                  <li>
                    <a class="product_anchor">product details</a>
                  </li>
                  <li>
                    <a class="product_anchor">Visit Shop</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
    </div><!-- .row profile -->

  </div><!-- .s9 content -->
    
</div><!-- .row -->
