<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="css/modalDashboard.css">

  <!-- Compiled and minified CSS -->
<div class="row">
  <div id="content" class="col s10 offset-s2">

    <div class="row">
      <div id="content_nav" class="col s12">
        <div class="nav_header right">
        </div>
      </div>
    </div>

    <div class="row">
        <div id="profile" class="col s4">
          <a class="action" href="/showEditProfile/{{user.id}}" style="position: absolute;">Edit Profile</a>
          <div class="profile_header">
            <img src="{{user.photoURL}}" alt="profile_picture" />
            <h2>{{user.name}}</h2>
            {{#if user.is_org}}
              <p>Organization</p>
            {{else}}
              <p>{{checkUserType user.user_type}}</p>
            {{/if}}
            {{#if user.is_org}}
              <ul style="list-style: none;">
                <li>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star star-disabled"></i>
                </li>
                <li>
                  <p class="stats"><i class="fa fa-fire"></i> 128</p>
                </li>
              </ul>
            {{/if}}
          </div>
          <div class="divider"></div>
          
          <div class="profile_information">
            <h3 style="margin-top: 5px;" >Personal Information</h3>
            <ul style="list-style: none;">
              <li>
                <h4>Email Address:</h4>
                <p>{{user.email}}</p>
              </li>
              <li>
                <h4>Gender:</h4>
                <p>{{user.gender}}</p>
              </li>
              <li>
                <h4>Phone Number:</h4>
                <p>{{user.phoneNo}}</p>
              </li>
              <li>
                <h4>Date of birth:</h4>
                <p>{{user.dob}}</p>
              </li>
              <li>
                <h4>Address:</h4>
                <p>{{user.address}}, {{user.unitNo}}, {{user.postalCode}}</p>
              </li>
            </ul>
          </div>
          
          <div class="divider"></div>
          {{#if user.is_org}}
            <div class="profile_custom">
              <h3 style="margin-top: 5px;">Organization Information</h3>
              <ul>
                <li>
                  <h4>Organization Name:</h4>
                  <p>{{user.org_name}}</p>
                </li>
                <li>
                  <h4>Website:</h4>
                  <p>{{user.org_website}}</p>
                </li>
                <li>
                  <h4>Organization Phone Number:</h4>
                  <p>{{user.org_phone}}</p>
                </li>
                <li>
                  <h4>Organization Location:</h4>
                  <p>{{user.org_location}}</p>
                </li>
                <li>
                  <h4>Organization Size:</h4>
                  {{#ifEqual user.org_size "individual"}}
                    <p>Individual</p>
                  {{/ifEqual}}
                  {{#ifEqual user.org_size "sme"}}
                    <p>Small Medium Enterprise</p>
                  {{/ifEqual}}
                  {{#ifEqual user.org_size "mnc"}}
                    <p>Multinational Corporation</p>
                  {{/ifEqual}}
                </li>
              </ul>
            </div>
        {{/if}}
        </div>
        <div id="profile_content" class="col s8">
          <nav id="dashboardNav">
            <ul>
              <li class="tab">
                <a href="#" class="active">
                  Orders
                </a>
              </li>
              <li class="tab">
                <a href="/showDashboardService">
                  Service
                </a>
              </li>
              <li class="tab">
                <a href="/showDashboardWishlist" class="">
                  Wishlist
                </a>
              </li>
              <li class="tab">
                <a href="/showDashboardWallet">
                  Wallet
                </a>
              </li>
            </ul>
            
            <div class="nav_arrows">
        </div>
            
          </nav>
          
          <div class="profile-content">
          {{#if product}}
            {{#each product}}
              <div class="row">
                <div class='product-card'>
                  <div class="product-image">
                    <img src="{{images}}" />
                  </div>
                  <div class="inner">
                    <h2 class="title">{{name}}</h2>
                    <h2 id="product_price">${{cost}}</h2>
                    <p>{{status}}</p>
                    <dl>
                      <dt>Product Highlights</dt>
                      <dd>{{description}}</dd>
                    </dl>
                  </div>
                  <ul class="actions clear">
                    <li>
                      <a id='modalBttn{{id}}' class="product_anchor" data-toggle="modal" data-target="#myModal{{id}}">
                        Track Order
                      </a>
                    </li>
                    <li>
                      <a style="color: white;" href="/" class="product_anchor">Order Details</a>
                    </li>
                  </ul>
                </div>
              </div>
                          
              <!-- Modal -->
              <div class="modal fade" data-backdrop="false" id="myModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Track Order <a>#{{id}}</p></h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                      <div class="outer">
                        <div id='progress{{id}}' class="progress dark" style="padding-left:20%;">
                        <div class="left" style="width: 75%;">
                          <div class="1id{{id}}">{{origin}}</div>
                          <div class="2id{{id}}">{{destination}}</div>
                          <div class="3id{{id}}">{{destination}}</div>
                        </div>
                        <div class="right">
                          <div id="1id{{id}}" class="1id{{id}} current"><i class="fas fa-industry"></i> PENDING</div>
                          <div id="2id{{id}}" class="2id{{id}}"><i class="fas fa-plane"></i> DELIVERING</div>
                          <div id="3id{{id}}" class="3id{{id}} done"><i class="fas fa-home"></i> DELIVERED</div>
                        </div>
                      </div>  
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" style="color:white;" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            {{/each}}
            {{else}}
            <div class="row" style="text-align: center; font-size:60px;">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <i class="fas fa-store"></i>
                <p style="font-size:20px;">Order something!</p>
              </div>
            </div>

          {{/if}}
          </div>
        </div>
    </div><!-- .row profile -->

  </div><!-- .s9 content -->
    
</div><!-- .row -->

<script>

// Test code

{{#each product}}
$('#modalBttn{{id}}').click(() => {
    $('#progress{{id}}').each((_, progress) => {
    
    const steps = $('> div.right > div', progress{{id}});

      $(document).ready(function() {
        steps.removeClass(['current', 'prev']);
        $('#1id{{id}}').addClass(
          {{#ifEqual status 'PENDING'}}
            ['current']
          {{/ifEqual}}
          );

        $('#2id{{id}}').addClass(
          {{#ifEqual status 'DELIVERING'}}
            ['current']
          {{/ifEqual}}
          );
          
        $('#3id{{id}}').addClass(
          {{#ifEqual status 'DELIVERED'}}
            ['current']
          {{/ifEqual}}
          );

      });


  })
});

$('#myModal{{id}}').on('hidden.bs.modal', function () {
  const steps = $('> div.right > div', progress{{id}});

  steps.removeClass(['current', 'prev']);
  $('#1id{{id}}').addClass(['current']);
})
{{/each}}

</script>