<style>
    /* General */
body {
  background-color: #ff6600;
}

::placeholder {
  color: #7b7e81;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7b7e81;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #7b7e81;
}

textarea:focus, 
input:focus, 
input[type]:focus{   
  box-shadow: 0 0 5px #7b4acb;
}

textarea {
  resize: none;
}

/* Header */
.header__wrapper {
  padding: 25px 0; 
}

.header__wrapper h3 {
  font-style: italic;
}

/* Main body */
.container {
  max-width: 800px;
  margin: 50px auto;
}

.container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
}

.form__wrapper {
  color:#ff6600;
  background-color: #E3E2DF;
  padding: 40px 40px 58px;
  margin: 100px auto 95px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
}

.form__btns {
  text-align: center;
}

.form__btns button {
  min-width: 95px;
  margin: 24px 15px 0;
}

.form-control {
  color: black;
  background-color: #E3E2DF;
  border-radius: 0;
}

textarea.form-control {
  height: 39px;
}

.form__comments label:not(:first-child){
  margin-top: 32px;
}

.form-group {
  margin-bottom: 2rem;
}

/* Footer*/
footer {
  color: #E3E2DF;
  opacity: 0.8;
}

footer a {
  color: #5D001E;
}

footer a:hover {
  color: #5D001E;
  text-decoration: underline;
}

.text-small {
  font-size: .8rem;
}

/* Responsive */
@media (min-width: 576px) { 

  .form__btns button {
    min-width: 125px;
    margin: 24px 20px 0;
  }
  
}

#editBttn {
  color: black;
  border-color: #5D001E;
  margin-left: 1%;
  margin-right: 1%;
}

#editBttns:hover {
  background-color: #ff6600;
  color:#E3E2DF;
  border-color: #ff6600;
}

.editInputField:focus {
  box-shadow: 0 0 5px black !important;
  background-color: #E3E2DF;
  color: black;
  border-color: black;
}

.layout {
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select2-results__option {
  color: #555;
}

.flag-text {
  margin-left: 10px;
}


</style>

<div class="container form__wrapper"> 
  {{#if user.is_org}}
  <h2>Edit Account</h2>
  {{else}}
  <h2>Edit Profile</h2>
  {{/if}}
  <form id="myForm" action="/saveEditedProfile/{{user.id}}?_method=PUT" method="post" onsubmit="changeCountry()">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-row">

      <div class="form-group col-md-6">
        {{#if user.is_org}}
          <label for="name">Shop Name</label>
          <input name="name" type="text" class="form-control editInputField" id="name" placeholder="Name" value="{{user.org_name}}" onkeypress="check()" onblur="check()">
        {{else}}
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control editInputField" id="name" placeholder="Name" value="{{user.name}}" onkeypress="check()" onblur="check()">
        {{/if}}
        <p style="font-size:0.8rem;" class="font-weight-bold text-info" id="inputErrName" style="display:none">Please input name</p>
      </div><!-- /form-group name -->

      <div class="form-group col-md-6">
        {{#if user.is_org}}
          <label for="phoneNo">Shop Number</label>
          <input name="phoneNo" type="text" class="form-control editInputField" id="phoneNo" placeholder="Phone Number e.g. 80808080" value="{{user.org_phone}}"  onkeypress="check()" onblur="check()">
        {{else}}
          <label for="phoneNo">Phone Number</label>
          <input name="phoneNo" type="text" class="form-control editInputField" id="phoneNo" placeholder="Phone Number e.g. 80808080" value="{{user.phoneNo}}"  onkeypress="check()" onblur="check()">
        {{/if}}
        <p style="font-size:0.8rem;" class="font-weight-bold text-info" id="inputErrPhoneNo" style="display:none">Please input number</p>
      </div><!-- /form-group phoneNo -->

      <div class="row">
        <div class="form-group col-md-6" style="border: 1px solid #ced4da;">
          <fieldset>
            {{#if user.is_org}}
            <label for="address">Address</label>
            <input name="address" type="text" class="form-control editInputField" id="address" placeholder="Building, Street, Etc..." value="{{user.org_address}}"  onkeypress="check()" onblur="check()">
            <br>
            <label for="country">Country</label>
            <div class="layout">
              <select class="form-control ediInputField" id="country" name="country" style="background-color:#E3E2DF; color: black;" onkeypress="check()" onblur="check()">
                <option>Choose your country</option>
                <option value="AF">Afghanistan</option>,<option value="AX">Åland Islands</option>,<option value="AL">Albania</option>,<option value="DZ">Algeria</option>,<option value="AS">American Samoa</option>,<option value="AD">Andorra</option>,<option value="AO">Angola</option>,<option value="AI">Anguilla</option>,<option value="AQ">Antarctica</option>,<option value="AG">Antigua and Barbuda</option>,<option value="AR">Argentina</option>,<option value="AM">Armenia</option>,<option value="AW">Aruba</option>,<option value="AU">Australia</option>,<option value="AT">Austria</option>,<option value="AZ">Azerbaijan</option>,<option value="BS">Bahamas</option>,<option value="BH">Bahrain</option>,<option value="BD">Bangladesh</option>,<option value="BB">Barbados</option>,<option value="BY">Belarus</option>,<option value="BE">Belgium</option>,<option value="BZ">Belize</option>,<option value="BJ">Benin</option>,<option value="BM">Bermuda</option>,<option value="BT">Bhutan</option>,<option value="BO">Bolivia</option>,<option value="BA">Bosnia and Herzegovina</option>,<option value="BW">Botswana</option>,<option value="BV">Bouvet Island</option>,<option value="BR">Brazil</option>,<option value="IO">British Indian Ocean Territory</option>,<option value="BN">Brunei Darussalam</option>,<option value="BG">Bulgaria</option>,<option value="BF">Burkina Faso</option>,<option value="BI">Burundi</option>,<option value="KH">Cambodia</option>,<option value="CM">Cameroon</option>,<option value="CA">Canada</option>,<option value="CV">Cape Verde</option>,<option value="KY">Cayman Islands</option>,<option value="CF">Central African Republic</option>,<option value="TD">Chad</option>,<option value="CL">Chile</option>,<option value="CN">China</option>,<option value="CX">Christmas Island</option>,<option value="CC">Cocos (Keeling) Islands</option>,<option value="CO">Colombia</option>,<option value="KM">Comoros</option>,<option value="CG">Congo</option>,<option value="CD">Congo, The Democratic Republic of the</option>,<option value="CK">Cook Islands</option>,<option value="CR">Costa Rica</option>,<option value="CI">Cote D'Ivoire</option>,<option value="HR">Croatia</option>,<option value="CU">Cuba</option>,<option value="CY">Cyprus</option>,<option value="CZ">Czech Republic</option>,<option value="DK">Denmark</option>,<option value="DJ">Djibouti</option>,<option value="DM">Dominica</option>,<option value="DO">Dominican Republic</option>,<option value="EC">Ecuador</option>,<option value="EG">Egypt</option>,<option value="SV">El Salvador</option>,<option value="GQ">Equatorial Guinea</option>,<option value="ER">Eritrea</option>,<option value="EE">Estonia</option>,<option value="ET">Ethiopia</option>,<option value="FK">Falkland Islands (Malvinas)</option>,<option value="FO">Faroe Islands</option>,<option value="FJ">Fiji</option>,<option value="FI">Finland</option>,<option value="FR">France</option>,<option value="GF">French Guiana</option>,<option value="PF">French Polynesia</option>,<option value="TF">French Southern Territories</option>,<option value="GA">Gabon</option>,<option value="GM">Gambia</option>,<option value="GE">Georgia</option>,<option value="DE">Germany</option>,<option value="GH">Ghana</option>,<option value="GI">Gibraltar</option>,<option value="GR">Greece</option>,<option value="GL">Greenland</option>,<option value="GD">Grenada</option>,<option value="GP">Guadeloupe</option>,<option value="GU">Guam</option>,<option value="GT">Guatemala</option>,<option value="GG">Guernsey</option>,<option value="GN">Guinea</option>,<option value="GW">Guinea-Bissau</option>,<option value="GY">Guyana</option>,<option value="HT">Haiti</option>,<option value="HM">Heard Island and Mcdonald Islands</option>,<option value="VA">Holy See (Vatican City State)</option>,<option value="HN">Honduras</option>,<option value="HK">Hong Kong</option>,<option value="HU">Hungary</option>,<option value="IS">Iceland</option>,<option value="IN">India</option>,<option value="ID">Indonesia</option>,<option value="IR">Iran, Islamic Republic Of</option>,<option value="IQ">Iraq</option>,<option value="IE">Ireland</option>,<option value="IM">Isle of Man</option>,<option value="IL">Israel</option>,<option value="IT">Italy</option>,<option value="JM">Jamaica</option>,<option value="JP">Japan</option>,<option value="JE">Jersey</option>,<option value="JO">Jordan</option>,<option value="KZ">Kazakhstan</option>,<option value="KE">Kenya</option>,<option value="KI">Kiribati</option>,<option value="KP">Korea, Democratic People's Republic of</option>,<option value="KR">Korea, Republic of</option>,<option value="KW">Kuwait</option>,<option value="KG">Kyrgyzstan</option>,<option value="LA">Lao People's Democratic Republic</option>,<option value="LV">Latvia</option>,<option value="LB">Lebanon</option>,<option value="LS">Lesotho</option>,<option value="LR">Liberia</option>,<option value="LY">Libyan Arab Jamahiriya</option>,<option value="LI">Liechtenstein</option>,<option value="LT">Lithuania</option>,<option value="LU">Luxembourg</option>,<option value="MO">Macao</option>,<option value="MK">Macedonia, The Former Yugoslav Republic of</option>,<option value="MG">Madagascar</option>,<option value="MW">Malawi</option>,<option value="MY">Malaysia</option>,<option value="MV">Maldives</option>,<option value="ML">Mali</option>,<option value="MT">Malta</option>,<option value="MH">Marshall Islands</option>,<option value="MQ">Martinique</option>,<option value="MR">Mauritania</option>,<option value="MU">Mauritius</option>,<option value="YT">Mayotte</option>,<option value="MX">Mexico</option>,<option value="FM">Micronesia, Federated States of</option>,<option value="MD">Moldova, Republic of</option>,<option value="MC">Monaco</option>,<option value="MN">Mongolia</option>,<option value="MS">Montserrat</option>,<option value="MA">Morocco</option>,<option value="MZ">Mozambique</option>,<option value="MM">Myanmar</option>,<option value="NA">Namibia</option>,<option value="NR">Nauru</option>,<option value="NP">Nepal</option>,<option value="NL">Netherlands</option>,<option value="AN">Netherlands Antilles</option>,<option value="NC">New Caledonia</option>,<option value="NZ">New Zealand</option>,<option value="NI">Nicaragua</option>,<option value="NE">Niger</option>,<option value="NG">Nigeria</option>,<option value="NU">Niue</option>,<option value="NF">Norfolk Island</option>,<option value="MP">Northern Mariana Islands</option>,<option value="NO">Norway</option>,<option value="OM">Oman</option>,<option value="PK">Pakistan</option>,<option value="PW">Palau</option>,<option value="PS">Palestinian Territory, Occupied</option>,<option value="PA">Panama</option>,<option value="PG">Papua New Guinea</option>,<option value="PY">Paraguay</option>,<option value="PE">Peru</option>,<option value="PH">Philippines</option>,<option value="PN">Pitcairn</option>,<option value="PL">Poland</option>,<option value="PT">Portugal</option>,<option value="PR">Puerto Rico</option>,<option value="QA">Qatar</option>,<option value="RE">Reunion</option>,<option value="RO">Romania</option>,<option value="RU">Russian Federation</option>,<option value="RW">RWANDA</option>,<option value="SH">Saint Helena</option>,<option value="KN">Saint Kitts and Nevis</option>,<option value="LC">Saint Lucia</option>,<option value="PM">Saint Pierre and Miquelon</option>,<option value="VC">Saint Vincent and the Grenadines</option>,<option value="WS">Samoa</option>,<option value="SM">San Marino</option>,<option value="ST">Sao Tome and Principe</option>,<option value="SA">Saudi Arabia</option>,<option value="SN">Senegal</option>,<option value="CS">Serbia and Montenegro</option>,<option value="SC">Seychelles</option>,<option value="SL">Sierra Leone</option>,<option value="SG">Singapore</option>,<option value="SK">Slovakia</option>,<option value="SI">Slovenia</option>,<option value="SB">Solomon Islands</option>,<option value="SO">Somalia</option>,<option value="ZA">South Africa</option>,<option value="GS">South Georgia and the South Sandwich Islands</option>,<option value="ES">Spain</option>,<option value="LK">Sri Lanka</option>,<option value="SD">Sudan</option>,<option value="SR">Suriname</option>,<option value="SJ">Svalbard and Jan Mayen</option>,<option value="SZ">Swaziland</option>,<option value="SE">Sweden</option>,<option value="CH">Switzerland</option>,<option value="SY">Syrian Arab Republic</option>,<option value="TW">Taiwan, Province of China</option>,<option value="TJ">Tajikistan</option>,<option value="TZ">Tanzania, United Republic of</option>,<option value="TH">Thailand</option>,<option value="TL">Timor-Leste</option>,<option value="TG">Togo</option>,<option value="TK">Tokelau</option>,<option value="TO">Tonga</option>,<option value="TT">Trinidad and Tobago</option>,<option value="TN">Tunisia</option>,<option value="TR">Turkey</option>,<option value="TM">Turkmenistan</option>,<option value="TC">Turks and Caicos Islands</option>,<option value="TV">Tuvalu</option>,<option value="UG">Uganda</option>,<option value="UA">Ukraine</option>,<option value="AE">United Arab Emirates</option>,<option value="GB">United Kingdom</option>,<option value="US">United States</option>,<option value="UM">United States Minor Outlying Islands</option>,<option value="UY">Uruguay</option>,<option value="UZ">Uzbekistan</option>,<option value="VU">Vanuatu</option>,<option value="VE">Venezuela</option>,<option value="VN">Viet Nam</option>,<option value="VG">Virgin Islands, British</option>,<option value="VI">Virgin Islands, U.S.</option>,<option value="WF">Wallis and Futuna</option>,<option value="EH">Western Sahara</option>,<option value="YE">Yemen</option>,<option value="ZM">Zambia</option>,<option value="ZW">Zimbabwe</option>
                <input id="countrySelect" type="hidden" name="countrySelect">
              </select>
            </div>
            <br>
            <label for="unitNo">Unit Number</label>
            <input name="unitNo" type="text" class="form-control editInputField" id="unitNo" placeholder="Unit No." value="{{user.org_unitNo}}"  onkeypress="check()" onblur="check()">
            <br>
            <label for="postalCode">Postal Code</label>
            <input name="postalCode" type="text" class="form-control editInputField" id="postalCode" placeholder="Postal Code" value="{{user.org_postalCode}}"  onkeypress="check()" onblur="check()">
            <br>
            <p style="font-size:0.8rem;" class="font-weight-bold text-info" id="inputErrDelivery" style="display:none">Please input your delivery location</p>
            {{else}}
            <label for="address">Address</label>
            <input name="address" type="text" class="form-control editInputField" id="address" placeholder="Building, Street, Etc..." value="{{user.address}}"  onkeypress="check()" onblur="check()">
            <br>
            <label for="country">Country</label>
            <div class="layout">
              <select class="form-control ediInputField" id="country" name="country" style="background-color:#E3E2DF; color: black;" onkeypress="check()" onblur="check()">
                <option>Choose your country</option>
                <option value="AF">Afghanistan</option>,<option value="AX">Åland Islands</option>,<option value="AL">Albania</option>,<option value="DZ">Algeria</option>,<option value="AS">American Samoa</option>,<option value="AD">Andorra</option>,<option value="AO">Angola</option>,<option value="AI">Anguilla</option>,<option value="AQ">Antarctica</option>,<option value="AG">Antigua and Barbuda</option>,<option value="AR">Argentina</option>,<option value="AM">Armenia</option>,<option value="AW">Aruba</option>,<option value="AU">Australia</option>,<option value="AT">Austria</option>,<option value="AZ">Azerbaijan</option>,<option value="BS">Bahamas</option>,<option value="BH">Bahrain</option>,<option value="BD">Bangladesh</option>,<option value="BB">Barbados</option>,<option value="BY">Belarus</option>,<option value="BE">Belgium</option>,<option value="BZ">Belize</option>,<option value="BJ">Benin</option>,<option value="BM">Bermuda</option>,<option value="BT">Bhutan</option>,<option value="BO">Bolivia</option>,<option value="BA">Bosnia and Herzegovina</option>,<option value="BW">Botswana</option>,<option value="BV">Bouvet Island</option>,<option value="BR">Brazil</option>,<option value="IO">British Indian Ocean Territory</option>,<option value="BN">Brunei Darussalam</option>,<option value="BG">Bulgaria</option>,<option value="BF">Burkina Faso</option>,<option value="BI">Burundi</option>,<option value="KH">Cambodia</option>,<option value="CM">Cameroon</option>,<option value="CA">Canada</option>,<option value="CV">Cape Verde</option>,<option value="KY">Cayman Islands</option>,<option value="CF">Central African Republic</option>,<option value="TD">Chad</option>,<option value="CL">Chile</option>,<option value="CN">China</option>,<option value="CX">Christmas Island</option>,<option value="CC">Cocos (Keeling) Islands</option>,<option value="CO">Colombia</option>,<option value="KM">Comoros</option>,<option value="CG">Congo</option>,<option value="CD">Congo, The Democratic Republic of the</option>,<option value="CK">Cook Islands</option>,<option value="CR">Costa Rica</option>,<option value="CI">Cote D'Ivoire</option>,<option value="HR">Croatia</option>,<option value="CU">Cuba</option>,<option value="CY">Cyprus</option>,<option value="CZ">Czech Republic</option>,<option value="DK">Denmark</option>,<option value="DJ">Djibouti</option>,<option value="DM">Dominica</option>,<option value="DO">Dominican Republic</option>,<option value="EC">Ecuador</option>,<option value="EG">Egypt</option>,<option value="SV">El Salvador</option>,<option value="GQ">Equatorial Guinea</option>,<option value="ER">Eritrea</option>,<option value="EE">Estonia</option>,<option value="ET">Ethiopia</option>,<option value="FK">Falkland Islands (Malvinas)</option>,<option value="FO">Faroe Islands</option>,<option value="FJ">Fiji</option>,<option value="FI">Finland</option>,<option value="FR">France</option>,<option value="GF">French Guiana</option>,<option value="PF">French Polynesia</option>,<option value="TF">French Southern Territories</option>,<option value="GA">Gabon</option>,<option value="GM">Gambia</option>,<option value="GE">Georgia</option>,<option value="DE">Germany</option>,<option value="GH">Ghana</option>,<option value="GI">Gibraltar</option>,<option value="GR">Greece</option>,<option value="GL">Greenland</option>,<option value="GD">Grenada</option>,<option value="GP">Guadeloupe</option>,<option value="GU">Guam</option>,<option value="GT">Guatemala</option>,<option value="GG">Guernsey</option>,<option value="GN">Guinea</option>,<option value="GW">Guinea-Bissau</option>,<option value="GY">Guyana</option>,<option value="HT">Haiti</option>,<option value="HM">Heard Island and Mcdonald Islands</option>,<option value="VA">Holy See (Vatican City State)</option>,<option value="HN">Honduras</option>,<option value="HK">Hong Kong</option>,<option value="HU">Hungary</option>,<option value="IS">Iceland</option>,<option value="IN">India</option>,<option value="ID">Indonesia</option>,<option value="IR">Iran, Islamic Republic Of</option>,<option value="IQ">Iraq</option>,<option value="IE">Ireland</option>,<option value="IM">Isle of Man</option>,<option value="IL">Israel</option>,<option value="IT">Italy</option>,<option value="JM">Jamaica</option>,<option value="JP">Japan</option>,<option value="JE">Jersey</option>,<option value="JO">Jordan</option>,<option value="KZ">Kazakhstan</option>,<option value="KE">Kenya</option>,<option value="KI">Kiribati</option>,<option value="KP">Korea, Democratic People's Republic of</option>,<option value="KR">Korea, Republic of</option>,<option value="KW">Kuwait</option>,<option value="KG">Kyrgyzstan</option>,<option value="LA">Lao People's Democratic Republic</option>,<option value="LV">Latvia</option>,<option value="LB">Lebanon</option>,<option value="LS">Lesotho</option>,<option value="LR">Liberia</option>,<option value="LY">Libyan Arab Jamahiriya</option>,<option value="LI">Liechtenstein</option>,<option value="LT">Lithuania</option>,<option value="LU">Luxembourg</option>,<option value="MO">Macao</option>,<option value="MK">Macedonia, The Former Yugoslav Republic of</option>,<option value="MG">Madagascar</option>,<option value="MW">Malawi</option>,<option value="MY">Malaysia</option>,<option value="MV">Maldives</option>,<option value="ML">Mali</option>,<option value="MT">Malta</option>,<option value="MH">Marshall Islands</option>,<option value="MQ">Martinique</option>,<option value="MR">Mauritania</option>,<option value="MU">Mauritius</option>,<option value="YT">Mayotte</option>,<option value="MX">Mexico</option>,<option value="FM">Micronesia, Federated States of</option>,<option value="MD">Moldova, Republic of</option>,<option value="MC">Monaco</option>,<option value="MN">Mongolia</option>,<option value="MS">Montserrat</option>,<option value="MA">Morocco</option>,<option value="MZ">Mozambique</option>,<option value="MM">Myanmar</option>,<option value="NA">Namibia</option>,<option value="NR">Nauru</option>,<option value="NP">Nepal</option>,<option value="NL">Netherlands</option>,<option value="AN">Netherlands Antilles</option>,<option value="NC">New Caledonia</option>,<option value="NZ">New Zealand</option>,<option value="NI">Nicaragua</option>,<option value="NE">Niger</option>,<option value="NG">Nigeria</option>,<option value="NU">Niue</option>,<option value="NF">Norfolk Island</option>,<option value="MP">Northern Mariana Islands</option>,<option value="NO">Norway</option>,<option value="OM">Oman</option>,<option value="PK">Pakistan</option>,<option value="PW">Palau</option>,<option value="PS">Palestinian Territory, Occupied</option>,<option value="PA">Panama</option>,<option value="PG">Papua New Guinea</option>,<option value="PY">Paraguay</option>,<option value="PE">Peru</option>,<option value="PH">Philippines</option>,<option value="PN">Pitcairn</option>,<option value="PL">Poland</option>,<option value="PT">Portugal</option>,<option value="PR">Puerto Rico</option>,<option value="QA">Qatar</option>,<option value="RE">Reunion</option>,<option value="RO">Romania</option>,<option value="RU">Russian Federation</option>,<option value="RW">RWANDA</option>,<option value="SH">Saint Helena</option>,<option value="KN">Saint Kitts and Nevis</option>,<option value="LC">Saint Lucia</option>,<option value="PM">Saint Pierre and Miquelon</option>,<option value="VC">Saint Vincent and the Grenadines</option>,<option value="WS">Samoa</option>,<option value="SM">San Marino</option>,<option value="ST">Sao Tome and Principe</option>,<option value="SA">Saudi Arabia</option>,<option value="SN">Senegal</option>,<option value="CS">Serbia and Montenegro</option>,<option value="SC">Seychelles</option>,<option value="SL">Sierra Leone</option>,<option value="SG">Singapore</option>,<option value="SK">Slovakia</option>,<option value="SI">Slovenia</option>,<option value="SB">Solomon Islands</option>,<option value="SO">Somalia</option>,<option value="ZA">South Africa</option>,<option value="GS">South Georgia and the South Sandwich Islands</option>,<option value="ES">Spain</option>,<option value="LK">Sri Lanka</option>,<option value="SD">Sudan</option>,<option value="SR">Suriname</option>,<option value="SJ">Svalbard and Jan Mayen</option>,<option value="SZ">Swaziland</option>,<option value="SE">Sweden</option>,<option value="CH">Switzerland</option>,<option value="SY">Syrian Arab Republic</option>,<option value="TW">Taiwan, Province of China</option>,<option value="TJ">Tajikistan</option>,<option value="TZ">Tanzania, United Republic of</option>,<option value="TH">Thailand</option>,<option value="TL">Timor-Leste</option>,<option value="TG">Togo</option>,<option value="TK">Tokelau</option>,<option value="TO">Tonga</option>,<option value="TT">Trinidad and Tobago</option>,<option value="TN">Tunisia</option>,<option value="TR">Turkey</option>,<option value="TM">Turkmenistan</option>,<option value="TC">Turks and Caicos Islands</option>,<option value="TV">Tuvalu</option>,<option value="UG">Uganda</option>,<option value="UA">Ukraine</option>,<option value="AE">United Arab Emirates</option>,<option value="GB">United Kingdom</option>,<option value="US">United States</option>,<option value="UM">United States Minor Outlying Islands</option>,<option value="UY">Uruguay</option>,<option value="UZ">Uzbekistan</option>,<option value="VU">Vanuatu</option>,<option value="VE">Venezuela</option>,<option value="VN">Viet Nam</option>,<option value="VG">Virgin Islands, British</option>,<option value="VI">Virgin Islands, U.S.</option>,<option value="WF">Wallis and Futuna</option>,<option value="EH">Western Sahara</option>,<option value="YE">Yemen</option>,<option value="ZM">Zambia</option>,<option value="ZW">Zimbabwe</option>
                <input id="countrySelect" type="hidden" name="countrySelect">
              </select>
            </div>
            <br>
            <label for="unitNo">Unit Number</label>
            <input name="unitNo" type="text" class="form-control editInputField" id="unitNo" placeholder="Unit No." value="{{user.unitNo}}"  onkeypress="check()" onblur="check()">
            <br>
            <label for="postalCode">Postal Code</label>
            <input name="postalCode" type="text" class="form-control editInputField" id="postalCode" placeholder="Postal Code" value="{{user.postalCode}}"  onkeypress="check()" onblur="check()">
            <br>
            <p style="font-size:0.8rem;" class="font-weight-bold text-info" id="inputErrDelivery" style="display:none">Please input your delivery location</p>
            {{/if}}
          </fieldset>
        </div><!-- /form-group delivery address -->
        
        {{#if user.is_org}}
        <div class="form-group col-md-6"> <!-- type -->
          <fieldset>
            <label for="org_type" class="control-label">Shop type</label>
            <select class="form-control editInputField" id="org_type" name="org_type">
              <option value="goods" selected="{{user.goods}}">Goods</option>
              <option value="services" selected="{{user.services}}">Services</option>
              <option value="goods_services" selected="{{user.goods_services}}">Goods/Services</option>
            </select>

            <label for="org_website" class="control-label">Shop Website</label>
            <input type="text" name="org_website" id="org_website" class="form-control editInputField" placeholder="Shop Website" value="{{user.org_website}}" onkeyup="check()" onblur="check()"/>
            <p style="font-size:0.8rem;" class="font-weight-bold text-info" id="inputErrWebsite" style="display:none">What is your website?</p>

          </fieldset>
        </div>
        {{else}}
        <div class="form-group col-md-4"> <!-- DOB -->
          <label for="dobUk" class="control-label">Enter your date of birth</label>
          <input id="dobUk" name="dobUk" class="form-control input-lg js-date--west" type="text" placeholder="_ _ /_ _ /_ _ _ _" onkeypress="check()" value="{{user.dob}}">
          <p class="help-block">E.g. dd/mm/yyyy</p>
          <div class="validation-message js-validation-message text-info"></div>
        </div>
        <div class="form-group col-md-2" style="border: 1px solid #ced4da; height:max-content;"> <!-- Gender -->
        <fieldset style="padding: revert;">
          <legend style="font-size: 1rem;">Gender:</legend>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="male" value="Male" onclick="check()" {{user.male}}>
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline" style="margin-botton: 10px;">
            <input class="form-check-input" type="radio" name="gender" id="female" value="Female" onclick="check()" {{user.female}}>
            <label class="form-check-label" for="female">Female</label>
          </div>
          <p style="font-size:0.8rem;" class="font-weight-bold text-info" id="inputErrGender" style="display:none">Are you a boy or are you a girl.</p>
        </fieldset>
      </div>
      {{/if}}
        
    </div>
      
    <div class="form-group col-lg-3">
      <input type="file" id="posterUpload" name="posterUpload" onchange="posterChange()" accept="image/png,image/jpeg,image/jpg,image/gif">
      {{!—- Poster image --}}
      <img id="poster" src="{{user.photoURL}}" alt=""class="border img-thumbnail img-fluid"style="height:20vh;width:auto">
      {{!—- Hidden field to submit URL of poster to the server --}}
      <input id="photoURL" type="hidden" name="photoURL" value="{{user.photoURL}}">
      <div class="font-weight-bold text-danger small" id="posterErr" style="display: none;"></div>
    </div>

    </div>
    <div class="form__btns">
        <button id="editBttns" class="btn btn-outline-primary" type="submit" class="btn btn-primary">Save</button>
  </form>

</div><!-- /form__btns -->
</div><!-- /container -->  

<script>
$(document).ready(() => {
	$(".js-date--west").mask("00/00/0000");

	// Validation
	$("#dobUk").on("keypress", () => {
		$(".js-validation-message").removeClass("red");
		$(".js-validation-message").removeClass("green");
		var dateObj = $(".js-date--west");

		if (dateObj.val() == null || dateObj.val() != "") {
			var d1 = Date.parse(dateObj.val().replace(/([0-9]+)\/([0-9]+)/, "$2/$1"));
			if (d1 == null || isNaN(parseFloat(d1))) {
				$(".js-validation-message").html("Error!");
				$(".js-validation-message").addClass("text-info");
        document.getElementById('editBttns').disabled = true;
			} else {
        document.getElementById('editBttns').disabled = false;
        $(".js-validation-message").html("");
			}
		} else {
			$(".js-validation-message").html("Please input your date of birth");
			$(".js-validation-message").addClass("text-info");
      document.getElementById('editBttns').disabled = true;
		}
	});
});

$('#phoneNo').on('input', () => {
  var input = $( this );
  var regex = '/^[0-9]{1,8}$/';
  var is_phone = regex.test(input.val());
  if (is_phone){
    input.removeClass("invalid").addClass("valid");
  } else {
    input.removeClass("valid").addClass("invalid");
  }
});

(async () => {
  const res = await fetch("https://freegeoip.app/json/");
  const json = await res.json();
  document.getElementById("country").value = json.country_code;
})();

function changeCountry() {
  let e = document.getElementById('country');
	let country = e.options[e.selectedIndex].innerHTML;
  document.getElementById('countrySelect').value = country;
};

$( document ).ready(function() {
  check();
  changeCountry();
});

function check() {
  let name = document.getElementById('name').value.length;
  let phoneNo = document.getElementById('phoneNo').value.length;
  let address = document.getElementById('address').value.length;
  let unitNo = document.getElementById('unitNo').value.length;
  let postalCode = document.getElementById('postalCode').value.length;
  let button = document.getElementById('editBttns');

  {{#if user.is_org}}
  let org_website = document.getElementById('org_website').value.length;

  if ((name < 1) || (phoneNo < 1) || (address < 1)|| (unitNo < 1) || (postalCode < 1) || (org_website < 1)) {
    button.disabled = true;
  } else {
    button.disabled = false;
  }

  if (org_website < 1) {
    document.getElementById('inputErrWebsite').style.display = 'block';
  } else {
    document.getElementById('inputErrWebsite').style.display = 'none';
  }



  {{else}}
  let gender = false;
  let dob = document.getElementById('dobUk').value.length;
  if ((document.getElementById('male').checked == false) && (document.getElementById('female').checked == false)) {
    gender = true;
  }

  if ((gender) || (name < 1) || (phoneNo < 1) || (address < 1)|| (unitNo < 1) || (postalCode < 1) || (dob < 1)) {
    button.disabled = true;
  } else {
    button.disabled = false;
  }

  if (gender) {
    document.getElementById('inputErrGender').style.display = 'block';
  } else {
    document.getElementById('inputErrGender').style.display = 'none';
  }

  if (dob < 1) {
    $(".js-validation-message").html("Please input your date of birth");
		$(".js-validation-message").addClass("red");
  }
  {{/if}}

  if (name < 1) {
    document.getElementById('inputErrName').style.display = 'block';
  } else {
    document.getElementById('inputErrName').style.display = 'none';
  }

  if (phoneNo < 1) {
    document.getElementById('inputErrPhoneNo').style.display = 'block';
  } else {
    document.getElementById('inputErrPhoneNo').style.display = 'none';
  }

  if ((address < 1) || (unitNo < 1) || (postalCode < 1)) {
    document.getElementById('inputErrDelivery').style.display = 'block';
  } else {
    document.getElementById('inputErrDelivery').style.display = 'none';
  }

  
}

$('#country').blur(() => {
  changeCountry();
});

</script>